@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

.cart {
  max-width: 30%;
  display: flex;
}

.read-the-docs {
  color: #888;
}

.modal{
  display: grid;
  gap: 1rem;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: black;
  color: white;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 10vh;
}